  html {
    scroll-behavior: smooth;
  }

.heads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: grey;
    color: white;
  }
/*width is there to make sure they do not overlap one another*/
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
  }
  
  nav a {
    color: navy;
    font-weight: bold;
    font-size: larger;
  }
  /*Nice display so that it is known when on link*/
  nav a:hover {
    color: lightblue;
  }

  body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  body p {
    font-size: larger;
    text-indent: 50px;
    line-height: 1.5;
  }

  .header {
    font-size: 300%;
  }
/*keeps the images wrapped*/
  .products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  /*these characteristics must be put in order or the computer does not recognize*/
  .card {
  width: auto;
  height: auto;
  border-style: solid; 
  border-width: 3px;
  padding: 10px;
  margin: 20px;
  }

  footer {
    text-align: center;
    font-weight: bold;
  }

  #font {
    font-size: 20px;
  }